<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    {% include 'includes/navbar.html' %}
    <div id="outer-box">
        <div class="content-box" id="left-side">
            {% include 'includes/stories.html' %}
            {% include 'includes/cards.html' %}
        </div>
        <div class="content-box" id="right-side">
            <div id="user-info">
                <img src="{{ user.get('image_url') }}" alt="Current user's profile picture" width="100" height="100">
                <p id="user-name">
                    {{ user.get('username') }}
                </p>
            </div>
            <p id="suggs">
                Suggestions for you
            </p>
            {% include 'includes/suggestions.html' %}
        </div>
    </div>
</body>
</html>